.DS_Store
video/
final/example.js
final/images/background-wip.psd
final/images/background2-wip.psd
final/images/blah-wip.psd
final/images/sky-wip.psd
final/images/sparkles-original.gif
final/images/sparkles-wip.psd
final/images/sparkles.gif
images/cold-breath.gif
images/shivering.gif
*.psd
images/wip/monkey-spritesheet-20181009-162059.piskel
images/wip/monkey-spritesheet.png
images/wip/monkey.jpg
images/wip/shivering-trans-top.png
images/wip/shivering-trans.png
